@import '../../colors.scss';

.ImageLoader {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    align-items: center;
    padding: 1.5rem;
    border: .5rem solid transparent;
    &.dragged-over {
        border: .5rem solid $darkbrown;
        border-style: dashed;
        .load-button {
            opacity: .5;
        }
    }
    .load-button {
        display: block;
        width: max-content;
        margin: 0 auto;
        font-size: 1.2em;
        font-weight: bold;
        background-color: $darkbrown;
        color: #ddd;
        border: none;
        outline: none;
        padding: 0.4rem 1rem;
        border-radius: 1rem;
        grid-column: 2;
        cursor: pointer;
        &:hover {
            opacity: .8;
        }
        @media(max-width: 490px) {
            grid-column: 1;
            grid-row: 2;
        }
    }
    #input {
        display: none;
    }
    @media (max-width: 490px) {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
}