@import '../../colors.scss';

.ImageLoader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    .load-button {
        font-size: 1.2em;
        font-weight: bold;
        background-color: $darkbrown;
        color: #ddd;
        border: none;
        outline: none;
        padding: 0.4rem 1rem;
        border-radius: 1rem;
        cursor: pointer;
        &:hover {
            opacity: .8;
        }
    }
    #input {
        display: none;
    }
}