@import '../../colors.scss';

.ImageLoader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    border: .5rem solid transparent;
    &.dragged-over {
        border: .5rem solid $darkbrown;
        border-style: dashed;
        .load-button {
            opacity: .5;
        }
    }
    .load-button {
        font-size: 1.2em;
        font-weight: bold;
        background-color: $darkbrown;
        color: #ddd;
        border: none;
        outline: none;
        padding: 0.4rem 1rem;
        border-radius: 1rem;
        cursor: pointer;
        &:hover {
            opacity: .8;
        }
    }
    #input {
        display: none;
    }
}