@import './colors.scss';

.App {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: $sand;
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
  .App-header {
    text-align: center;
    font-size: 1.5rem;
    color: $darkbrown;
    font-weight: bold;
  }
  .main-container {
    display: grid;
    grid-template-rows: 1fr auto;
    position: relative;
    .last-lichen-label {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      color: $darkbrown;
      width: fit-content;
    }
    @media (max-width: 490px) {
      position: static;
    }
  }
}
